.food-table {
    overflow-x: auto; 
}

.food-table table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

.food-table tr {
    height: 5rem;
}

.food-table tr:nth-child(even) {
    background-color: var(--platinum);
}

table, tbody, tr, td {
    text-align: center;
}

.food-table-nav {
    display: grid;
    grid-template-areas: ". search sort .";
    grid-template-columns: auto 20rem 7rem auto;
    grid-column-gap: .5rem;
    height: 3rem;
    padding-top: 1rem;
}

.food-loading {
    width: 10rem;
    margin: auto;
}