.home {
    height: auto;
    display: grid;
    grid-template-columns: 14rem auto;
    grid-template-rows: 4rem auto;
    grid-template-areas:
        ". ." 
        ". content";
}

.home-top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    height: 4rem;
    background-color: var(--flashy);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.home-side-nav {
    position: fixed;
    top: 0;
    width: 13rem;
    z-index: 4;
    height: 100vh;
    padding-top: 4rem;   
    padding-left: 1rem;
    background-color: var(--platinum);
}

.home-links {
    height: auto;
    display: grid;
}

.home-content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    background-color: var(--light);
}

.home-footer {
    text-align: center;
    margin-top: auto;
    height: 2rem;
    opacity: .6;
    padding-top: 2rem;
}