.home {
    height: auto;
    display: grid;
    grid-template-columns: 13.3rem auto;
    grid-template-rows: 100%;
    grid-template-areas:
        ". content"
        ". footer";
}

.home-top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    height: 4rem;
    background-color: var(--flashy);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    filter: invert(10%);
    font-size: 1.3rem;
    font-weight: 600;
    display: grid;
    grid-template-areas: ". logo text . logout";
    grid-template-columns: 3rem 4rem 4rem auto 7rem;
}

.home-top-nav img {
    grid-area: logo;
    width: 4rem;
    margin: auto;
}

.home-side-nav {
    position: fixed;
    top: 0;
    width: 13rem;
    z-index: 4;
    height: 100vh;
    padding-top: 4rem;   
    background-color: var(--lightdark);
    border-right: .3rem solid var(--flashy);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.home-side-nav a {
    text-decoration: none;
    color: var(--dark2);
}

.home-links {
    height: auto;
    display: grid;
}

.home-content {
    grid-area: content;
    background-color: var(--lightdark);
    min-height: calc(100vh - 140px);
    padding-top: 4rem;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 100%;
}

tr {
    height: 5rem;
    width: 100%;
}

tr:nth-child(even) {
    background-color: var(--middark);
}

table, tbody, tr, td {
    text-align: center;
}

.home-main {
    height: 100%;
}

.home-footer {
    grid-area: footer;
    text-align: center;
    opacity: .2;
    margin-top: auto;
    padding: .5rem;
}

.modal-message {
    min-height: 2rem;
    width: 100%;
}

.modal-buttons {
    width: 100%;
    align-self: flex-end;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: auto;
}