* {
  text-align: center;
}

body {
  background-color: var(--platinum);
}

:root {
  --light: hsl(100, 100%, 99%);
  --platinum: hsl(120, 4%, 91%);
  --dark: hsl(199, 100%, 29%);
  --dark2: hsl(0, 0%, 10%);
  --flashy: hsl(128, 26%, 40%);
}