
body {
  background-color: var(--lightdark);
  color:hsl(0, 0%, 86%)
}

:root {
  --light: hsl(100, 100%, 99%);
  --platinum: hsl(120, 4%, 91%);
  --dark: hsl(199, 100%, 29%);
  --dark2: hsl(0, 0%, 10%);
  /*--flashy: hsl(128, 26%, 40%);*/
  --flashy: hsl(128, 26%, 30%);
  --lightdark: 	hsl(0, 0%, 17%);
  --middark: hsl(0, 0%, 22%);
  --fulldark: 	hsl(0, 0%, 19%);
}

.app-loading {
  width: 4rem;
  margin: auto;
}