.content {
    overflow-x: auto; 
}

.content-nav {
    display: grid;
    grid-template-areas: ". search sort . button .";
    grid-template-columns: auto 20rem 7rem 5rem 5rem auto;
    grid-column-gap: .5rem;
    height: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content-loading {
    width: 10rem;
    margin: auto;
}